aiofiles==24.1.0
boto3==1.26.105
contourpy==1.2.1
dill==0.3.5.1
dnspython==2.2.1
evidently==0.1.58.dev0
flask==2.0.3
fonttools==4.53.1
httptools==0.5.0
imblearn==0.0
importlib-resources==6.4.0
ipykernel==6.29.5
jaraco.text==3.12.1
mypy-boto3-s3==1.24.76
neuro-mf==0.0.5
ordered-set==4.1.0
pip-chill==1.0.3
python-dotenv==0.21.0
python-multipart==0.0.6
seaborn==0.11.2
src==0.0.1
tomli==2.0.1
types-s3transfer==0.6.0.post4
tzdata==2024.1
uvicorn==0.18.3
watchfiles==0.17.0
websockets==10.3
wincertstore==0.2
xgboost==1.6.2
scikit-learn==1.5.1
-e .
